<div class="intoro">
    <h5>診断結果</h5>
    <p>あなたにおすすめのKPOPの系統は・・・</p>
</div>
<div class="tweet-container">
    <div class="tweet">
        <h6>あなたは…〈ＪＹＰエンターテインメント〉タイプ</h6>
        <p>創業者は…パク・ジニョン氏（박진영）、現在もアーティストとして活躍を続けるパク・ジニョン氏だが、
        大規模アイドル発掘プロジェクトを行い、圧倒的なプロデュース力で大人気を集めるグループを輩出し続けている。</p>
        <p>音楽の特徴として、全体的には明るい聞きなじみのよい曲が多い。しかし、グループによって全く違うコンセプトであることがいえる。
        例えば、ＴＷＩＣＥというグループでは、かわいい・恋愛系が中心である。また、その後のデビューしたＩＴＺＹという
        グループでは、ガールクラッシュな曲になっている。</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/f5_wn8mexmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OvioeS1ZZ7o" title="YouTube video player" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>