<div class="intoro">
    <h5>あなたの結果は・・・</h5>
</div>

<div class="sindankekka">
    <div class="box13">
        <h6>≪ＳＭエンターテイメント≫<br>
        系統のアイドルが好き！</h6>
    </div>
</div>

<div class="tweet-container">
    <div class="tweet"> 
        <h6>あなたは…ＳＭエンターテインメントタイプ</h6>
        <p>正式名称は〈ＳＭエンターテインメント〉、よく〈ＳＭ〉と略称で呼ばれます。</p>
        <p>創業者は…イ・スマン氏（이수만）、もともと歌手活動を行っていたイ・スマン氏であるが、
        芸能事務所を立ち上げ、〈ＫＰＯＰ〉という文化の火付け役であるＢｏＡや少女時代を輩出している。文化を生み出すのにもレベルの高いオーディション
        が関係していて、他２社の中でも一番難易度の高いオーディションが行われるといわれている。</p>
        <p>音楽の特徴として、個性×スペックの高さといえる。どのグループも独特な電子音調と各アーティストのビジュアルを掛け合わせ、
        ほかのＫＰＯＰアイドルとは異色なグループが多く在籍する。そうした点に惹かれ、支持しているファンも多い。</p>

        <h6>特におすすめしたい！！ＳＭエンターテインメント所属の男性アイドル！！</h6>
        <p>その名前は・・・ＮＣＴ１２７</p>
        <p>ＮＣＴは２０１６年にデビューを果たした。名前の由来は〈Ｎｅｏ Ｃｕｌｔｕｒｅ　Ｔｅｃｈｎｏｌｏｇｙ〉から来ている。
        ＮＣＴはユニットが多く存在していて、ほかにもＮＣＴＤＲＥＡＭやＮＣＴ　Ｕなど以外にＷａｙＶなどのグローバルに活躍している。</p>
        <p>特に先進的な音楽が多くリリースされるＮＣＴ１２７は、圧倒的な歌唱力とダンス力はもちろん、ほかのアイドルとは全く異なった
        雰囲気のある最先端な楽曲がＮＣＴ１２７から韓国を中心に全世界をわたって聴かれている。</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1oYWnbTSang" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h6>特におすすめしたい！！ＳＭエンターテインメント所属の女性アイドル！！</h6>
        <p>その名前は・・・aespa</p>
        <p>aespaは・・・ＳＭエンターテインメントから６年ぶりにデビューした、韓国人２人のカリナとウインター、
        日本人のジゼル、中国人のニンニンの４人で構成されている。aespaはもう一人の自分のアバターと出会い、
        新しい世界を経験していくというコンセプトとなっている。そのため、ミュージックビデオではアバターがでてくることが多い。</p>
        <p>ＮＣＴ１２７と同様、女性アイドルのなかでも先端的な音楽が多く、曲調が大きく変化する曲が多くリリースされることも
        特徴であり、多くの中毒者が生まれ、日本のファンも多い。</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WPdWvnAAurg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>