<div class="intoro">
    <h5>診断結果</h5>
    <p>あなたにおすすめのKPOPの系統は・・・</p>
</div>
<div class="tweet-container">
    <div class="tweet">
        <h6>あなたは…ＹＧエンターテインメントタイプ</h6>
        <p>正式名称は〈ＹＧエンターテインメント〉、よく〈ＹＧ〉と略称で呼ばれる。</p>
        <p>創業者は…ヤン・ヒョソク氏（양현석）、韓国で大人気であった〈ソテジワアイドル〉であったヤン・ヒョソク氏であるが、
        芸能事務所を立ち上げ、韓国のみならず、日本や世界で爆発的に人気となったＢＩＧＢＡＮＧを筆頭にＢＬＡＣＫＰＩＮＫなど
        世界レベルで活躍するアイドルを輩出している。</p>
        <p>音楽の特徴として、ラップ調を中心とした音楽が中心であり、鼻声っぽいような声であるアーティストが多いことも特徴である。
        また、完全に実力主義であることから圧倒的なパフォーマンス力が魅力といえる。</p>

        <h6>特におすすめしたい！！ＹＧエンターテイメント所属の女性アイドル！！</h6>
        <p>その名前は・・・ＢＬＡＣＫ　ＰＩＮＫ！！</p>
        <p>２０１６年に結成し、デビューしたがわずか４年で世界的アイドルに躍進した。
        ミュージックビデオがYouTubeでリリースされると同時に１曲で１０億回再生を超えることもよくある現象だ。</p>
        <p>曲調としては、力強いラップが特徴でビジュアルも最強で世界的にも〈女王〉と呼ばれている。個々のメンバーはそれぞれ世界的有名な
        ブランドのアンバサダーを務めていて、ジェニがＣＨＡＮＥＬ、Ｃａｌｖｉｎ　Ｋｌｅｉｎ、ＨＥＲＡで、
        リサがＣＥＬＩＮＥ、ＢＶＬＧＡＲＩ、ＭＡＣ。ロゼは、Ｓａｉｎｔ　Ｌａｕｒｅｎｔ、Ｔｉｆｆａｎｙ＆Ｃｏ。ジスは、ＤＩＯＲ、Ｃａｒｔｉｅｒ。</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2S24-y0Ij3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h6>特におすすめしたい！！ＹＧエンターテイメント所属の男性アイドル！！</h6>
        <p>その名前は・・・TREASURE！！</p>
        <p>TREASUREは、〈ＹＧ宝石箱〉というサバイバル番組で選定されたメンバーによって１３人構成されている。</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJaKdBBzUYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
